.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: #15023a;
}
.nav-ul li {
  display: inline-block;
  padding: 10px;
}
.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-weight: 600;
}
.footer {
  position: absolute;
  bottom: 0;
  background-color: #15023a;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-weight: 300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #15023a;
}

.register,
.product {
  margin-left: 42%;
}
.login {
  margin-left: 42%;
  margin-top: 75px;
}

.register,
.product {
  /* margin-left: 42%; */
  margin-top: 75px;
  color: #15023a;
}
.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid #15023a;
  width: 300px;
  margin: 20px;
}

.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: #15023a;
  border: solid 1px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  align-items: center;
  /* display: flex; */
}

.updateButton {
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  color: white;
  background-color: #15023a;
  border: 1px solid green;
}

.nav-right {
  text-align: right;
}
.logo {
  width: 60px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin: 0px;
  margin-top: 3px;
  margin-left: 0px;
}

.invalid-input {
  display: block;
  color: red;
  margin-top: -20px;
  margin-left: 20px;
}

.product-list {
  text-align: center;
  margin-top: 50px;
}

.product-list ul li {
  display: inline-block;
  width: 150px;
  border: 1px solid #15023a;
  padding: 5px;
}

.product-list ul {
  margin: 0;
}

.search-product-box {
  width: 200px;
  margin: 20px;
  height: 25px;
  padding-left: 30px;
  border: solid 1px #15023a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
